#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# The name of our UQM package and binary.
export UQM_BIN_NAME="uqm-balance"

# Allows UQM's wacky build system to build out-of-source (BROKEN)
#export BUILD_WORK=debian/build_work/

%:
	dh $@ 

override_dh_auto_clean:
	./build.sh uqm clean
#	rm -rf debian/build_work/obj\
#	       debian/build_work/uqm
	rm -rf obj\
	       ${UQM_BIN_NAME}\
	       uqm-wrapper

# Note that, due to the way UQM's build system handles things, default build
# options cannot be easily specified here. You'll find those in 
# debian/config.state.
override_dh_auto_configure:
#	cp debian/config.state debian/build_work/
	cp debian/config.state .
	./build.sh uqm reprocess_config

override_dh_auto_build:
	./build.sh uqm depend
	./build.sh uqm

# UQM has no test suites of any kind.
override_dh_auto_test:

# Relies on a minor patch to build.vars.in
override_dh_auto_install:
	DESTDIR=${CURDIR}/debian/${UQM_BIN_NAME} ./build.sh uqm install

#	TODO: see if we can keep this file from being installed at all
	if [ -f debian/${UQM_BIN_NAME}/usr/share/games/uqm/content/version ]; then\
		rm debian/${UQM_BIN_NAME}/usr/share/games/uqm/content/version;\
	fi

override_dh_installchangelogs:
	dh_installchangelogs WhatsNew

# Regenerate config.state using the UQM build system's interactive menus.
regenerate-config:
	./build.sh uqm config
	cp config.state debian/
