Source: uqm-balance-retreat
Section: unofficial/games
Priority: optional
Maintainer: Old Laptop <oldlaptop654@aol.com>
Build-Depends: debhelper (>= 7.0.50~), libsdl1.2-dev, libsdl-image1.2-dev, zlib1g-dev, libogg-dev, libvorbis-dev, libmikmod2-dev
Standards-Version: 3.9.1
Homepage: http://sc2.sourceforge.net

Package: uqm-balance-retreat
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, uqm-content(>= 0.7.0), uqm-balance(>= 2.05)
Description: Space adventure game - Shiver's Balance Mod
 The Ur-Quan Masters is a cross platform port of Star Control II,
 a space-based action adventure game. You return to Earth with a vessel
 built with technology from an ancient race called the Precursors only
 to find it enslaved. Gather allies from a wide variety of races,
 engage in space combat with various foes, and save the galaxy from
 the Ur-Quan!
 .
 This package contains the Retreat Mod, a patch on top of Shiver's
 Balance Mod which allows retreating ships in Supermelee.
