[Desktop Entry]
Type=Application
Version=1.0
Name=The Ur-Quan Masters - Shiver's Balance Mod + Retreat Patch
Comment=Open-source port of the classic grand space action-adveture game Star Control II, modified to allow retreating ships in Supermelee
icon=uqm-balance-retreat.xpm
Exec=/usr/games/uqm-balance-retreat

