[Desktop Entry]
Type=Application
Version=1.0
Name=The Ur-Quan Masters
Comment=Open-source port of the classic grand space action-adveture game Star Control II
icon=uqm.xpm
Exec=/usr/games/uqm

