Package: uqm-hd
Version: 0.1-1
Architecture: amd64
Maintainer: Old Laptop <oldlaptop654@aol.com>
Installed-Size: 1601
Depends: libc6 (>= 2.3.4), libgl1-mesa-glx | libgl1, libmikmod2 (>= 3.1.10), libogg0 (>= 1.0rc3), libsdl-image1.2 (>= 1.2.10), libsdl1.2debian (>= 1.2.11), libvorbis0a (>= 1.1.2), libvorbisfile3 (>= 1.1.2), zlib1g (>= 1:1.1.4), uqm-content (>= 0.7.0)
Recommends: uqm-hd-hires4x
Section: unofficial/games
Priority: optional
Homepage: http://sc2.sourceforge.net
Description: Space adventure game
 The Ur-Quan Masters is a cross platform port of Star Control II,
 a space-based action adventure game. You return to Earth with a vessel
 built with technology from an ancient race called the Precursors only
 to find it enslaved. Gather allies from a wide variety of races,
 engage in space combat with various foes, and save the galaxy from
 the Ur-Quan!
 .
 This package contains dczanik's HD mod, which provides the capability
 to use high-resolution graphics in the UQM engine. This package contains
 only the basic uqm-hd binary, you will need uqm-hd-hires4x to play the
 game in high-resolution mode.
